/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arimo', sans-serif;
}

/* Header */

header {
  background-color: #303D2A;
  position: relative;
  z-index: 1000;
}

/* Logo  */

.logo img {
  height: 45px;
  width: auto;
  display: block;
}

/* Navigation Bar  */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 40px;
}

.nav-container {
  max-width: 100%;
  padding: 0 40px;
}

/* Navigation Links  */

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a,
.nav-right .login {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
}

/* Dropdown */

.has-dropdown {
  position: relative;
}

/* Dropdown button */

.dropdown-toggle {
  background: none;
  border: none;
  color: #ffffff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

/* Dropdown arrow */

.dropdown-toggle .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;

  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #ffffff;

  position: relative;
  top: -2px;
}

/* Dropdown menu container */

.dropdown-menu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;

  background: #ffffff;
  border-radius: 6px;
  min-width: 120px;

  list-style: none;
  margin: 0;
  padding: 4px 0;

  display: none;
}

/* Dropdown links */

.dropdown-menu li a {
  display: block;
  padding: 10px 16px;
  color: #303D2A;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

.dropdown-menu li a:hover {
  background: #f2f2f2;
}

/* Hero Section */

.hero {
  position: relative;
  height: 80vh;

  background-image: url("images/hero.jpg");
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
}

.hero-content {
  position: relative;
  z-index: 1;

  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #ffffff;
  text-align: center;
  font-family: "Comic Sans MS", cursive;
}

.hero-content h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 30px;
  font-weight: 400;
}

/* Who we are section */

.who-we-are {
  background-color: #ffffff;
  padding: 50px 20px 50px;
}

.who-we-are-title {
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: #303D2A;
}

.who-we-are-intro,
.who-we-are-description {
  margin-left: 50px;
  max-width: 700px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  text-align: left;
  color: #000;

}

.who-we-are-image {
  width: 300px;
  height: 300px;

  margin-left: auto;
  margin-right: 0;

  object-fit: cover;
  border-radius: 20px;
}

/* Why we exist section */

.why-we-exist {
  background-color: #ffffff;
  padding: 50px 20px 50px;
}

.why-we-exist-title {
  margin-left: auto;
  margin-right: 50px;
  margin-bottom: 20px;
  max-width: 700px;
  font-size: 50px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  color: #303D2A;
}

.why-we-exist-description {
  margin-left: auto;
  margin-right: 50px;
  max-width: 700px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  text-align: right;
  color: #000;
}